<nav>
  <div class="container">
    <div class="header">
      <h2 class="logo" routerLink="/">My Store</h2>
      <ul>
        <li routerLink="/home">Home</li>
        <li routerLink="/products">Products</li>
        <div *ngIf="loggedin()">
          <li routerLink="/cart">Cart</li>
        </div>
        <li routerLink="/about">About</li>
        <div *ngIf="loggedin()">
          <li routerLink="/Wishlist">Wishlist</li>
        </div>
        <li routerLink="/chatbot">Technical Support</li>
        <div *ngIf="!loggedin()">
          <li routerLink="/signup">Sign Up</li>
        </div>
        <div *ngIf="loggedin()" (click)="onLogout()">
          <li routerLink="/signup">logout</li>
        </div>
        <div *ngIf="loggedin()" (click)="getUseName()">
          <li class="user">{{ username }}</li>
        </div>
      </ul>
    </div>
  </div>
</nav>
