* {
  background: #33B5E5;
}

.header {
  text-align: center;
  color: #fff;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-right: 50%;
}

li {
  cursor: pointer;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-left: 10px;
}

li:hover {
  color: #33B5E5;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.user:hover {
  color: #fff;
  background-color: #33B5E5;
  cursor: default;
}

.logo {
  cursor: pointer;
}