.final {
  width: 50%;
  margin: 250px auto;
  display: flex;
  flex-flow: column;
}

.success {
  text-align: center;
  color: #2fabbb;
}

.thanks {
  text-align: center;


}

.thanks span {
  font-size: 25px;
  font-weight: bold;
}

.row1 {
  display: flex;
}

.row2 button {
  width: 50%;
  margin: 0 auto;
  margin-left: 130px;

}

.row1 button {

  width: 50%;
  margin-left: 10px;

}

.ops {
  text-align: center;
  color: red;
}