<div class="body">
  <app-carousel [images]="Allimages" [autoSlide]="true"></app-carousel>
</div>

<div class="searchImage">
  <app-searchbyimage></app-searchbyimage>
</div>

<h1 class="Title">Recommended Products</h1>
<div class="bord">
  <div class="mt-30">
    <div class="row">
      <div class="col-md-4 col-sm-12" *ngFor="let item of recommrndedUserProduct">
        <app-singleproduct
          [data]="item"
          (item)="addingToChart($event)"
        ></app-singleproduct>
      </div>
    </div>
  </div>
</div>

<h1 class="Title">Most Popular</h1>
<div class="bord">
  <div class="mt-30">
    <div class="row">
      <div class="col-md-4 col-sm-12" *ngFor="let item of products">
        <app-singleproduct
          [data]="item"
          (item)="addingToChart($event)"
        ></app-singleproduct>
      </div>
    </div>
  </div>
</div>
