.body {
  display: flex;
  justify-content: center;
}

.Title {
  margin-top: 50px;
  margin-bottom: 50px;

}

.bord {
  border: 5px solid #33B5E5;
  padding: 50px;
  margin-bottom: 100px;
}

.btton {
  margin-top: 50px;

  align-items: center;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

}

button {
  width: 80%;
  border-radius: 20px;
  font-size: 50px;
  background-color: #3336e5;
}

button:hover {
  background-color: #33e557;
}