<div class="item">
  <img src="{{ data.HighResImageURLs }}" alt="" />
  <div class="body">
    <h4>{{ data.Title }}</h4>
  </div>
  <div class="px-3 mb-4 d-flex justify-content-between align-items-center">
    <div class="handle">
      <div class="inputQuantity">
        <input
          type="number"
          class="form-control"
          [ngModel]="amount"
          (ngModelChange)="amount = $event"
        />
        <!-- I have to add formModule in products formModule -->
        <button class="btn btn-primary" (click)="add()">Add to cart</button>
      </div>
      <div class="price">price: {{ data.Price }} $</div>
    </div>
  </div>
</div>
