<div class="box mt-5">
  <app-category
    [data]="categories"
    [title]="'Categories'"
    (selectedValue)="filterByCategory($event)"
  ></app-category>

  <div class="allpage" *ngIf="!loading">
    <div class="mt-30">
      <div class="row">
        <div class="col-md-4 col-sm-12" *ngFor="let item of products">
          <app-singleproduct [data]="item"  (item)="addingToChart($event)" ></app-singleproduct>
        </div>
      </div>
    </div>

    <div class="numbers" *ngIf="Allpropage">
      <ul class="horizontal-list">
        <li (click)="getproductByPage('1')">1</li>
        <li (click)="getproductByPage('2')">2</li>
        <li (click)="getproductByPage('3')">3</li>
        <li (click)="getproductByPage('4')">4</li>
        <li (click)="getproductByPage('5')">5</li>
        <li (click)="getproductByPage('6')">6</li>
        <li (click)="getproductByPage('7')">7</li>
        <li (click)="getproductByPage('8')">8</li>
        <li (click)="getproductByPage('9')">9</li>
        <li (click)="getproductByPage('10')">10</li>
      </ul>
    </div>
  </div>
  <div class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>

  <!-- <div class="box mt-5">

  <div class="mb-5 my-2 w-25">
<app-select [data]="categories" [title]="'Categories'" (selectedData)="filterCategory($event)"></app-select>
  </div>
<div class="row" *ngIf="!loading">
  <div class="col-md-3 col-sm-12" *ngFor="let item of products" >
   <app-product [data]="item" (item)="addToChart($event)"></app-product>
    </div>
  </div>
</div>
<div class="text-center w-100" *ngIf="loading">
  <app-spiner></app-spiner>
  </div> -->
</div>
