.numbers {
  margin-top: 100px;
}


.numbers ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  padding: 0 0.5rem;
}

.numbers ul li {
  font-weight: bolder;
  font-size: 20px;
  margin-left: 2rem;
  display: inline-block;
  background-color: rgb(155, 100, 237);
  width: 30px;
  border-radius: 10px;
  cursor: pointer;
}