<div class="outerContainer">
  <footer>
    <div class="row">
      <div class="col">
        <img src="{{ url }}" alt="logo" />
        <p>Be part of our family now</p>
      </div>
      <div class="col">
        <h3>Graduation Project</h3>
        <p>Computer and System</p>
        <p>Faculty of Engineering</p>
        <p>Ain-Shams Universuity</p>
      </div>
      <div class="col">
        <h3>Links</h3>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Product List</a></li>
          <li><a href="">Cart</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Profile</a></li>
          <li><a href="">Contacts</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Newsletter</h3>
        <form action="">
          <input type="email" placeholder="Enter Your email id" required />
          <button type="submit">Add Email</button>
        </form>
        <div class="social-icons">
          <img src="assets/facebook-logo.png" alt="facebook" />
          <img src="assets/twitter.png" alt="twitter" />
          <img src="assets/linkedin.png" alt="linkedin" />
          <img src="assets/whatsapp.png" alt="whatsapp" />
          <img src="assets/pinterest.png" alt="pinterest" />
        </div>
      </div>
    </div>
  </footer>
</div>
