<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="search mt-4 p-5 text-white rounded text-center">
          <h1>Search By Image</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="in p-4 d-flex justify-content-center">
  <!-- <input type="text" (change)="getName(name.value)" #name /> -->
  <input  name="imageFile" type="file" (change)="getFile($event)" />
  <input type="button" value="Upload file" (click)="submitData()" />
</div>

<div>
  <h1 class="Title">Search output</h1>
  <div class="bord">
    <div class="mt-30">
      <div class="row">
        <div class="col-md-4 col-sm-12" *ngFor="let item of SearchProduct">
          <app-singleproduct
            [data]="item"
            (item)="addingToChart($event)"
          ></app-singleproduct>
        </div>
      </div>
    </div>
  </div>
</div>
