<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="search mt-4 p-5 text-white rounded text-center">
          <h1>Search By Image</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-4 d-flex justify-content-center">
  <!-- <input type="text" (change)="getName(name.value)" #name /> -->
  <input type="file" (change)="getFile($event)" />
  <input type="button" value="Upload file" (click)="submitData()" />
</div>
