.search-div{
  margin: 10px 20px;
  padding: 10px 20px;

}
.changeBackGroundColor{
  background-color: #f25;
}

input[type=text]{
  width: 240px;
  height: 30px;
  margin-left: 20px;
  border: none;
}
